.avion {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  height: auto;
  min-height: 50vh;
  max-width: 90%;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

h2 {
  width: 100%;
  margin: 20px 0;
}

.avion-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.avion-item {
  flex-basis: 48%;
}

@media (width < 350px) {
  .avion-item {
    flex-basis: 100%;
  }
}
