.horas {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  height: auto;
  min-height: 50vh;
  max-width: 90%;
  margin: 10px;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

& section {
  padding: 10px;
}

h2 {
  width: 100%;
  margin: 20px 0;
}

/* section itinerario */

.itinerario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itinerario-item {
  flex-basis: 18%;
}

@media (width < 768px) {
  .itinerario-item:first-child {
    flex-basis: 100%;
  }

  .itinerario-item {
    flex-basis: 48%;
  }
}

/* utils section */

.utils {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

& .utils-form-group {
  flex-basis: 48%;
}

@media (width < 768px) {
  .utils-form-group {
    flex-basis: 100%;
  }
}

/* section  tiempos-de-vuelo */

.tiempos-de-vuelo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.avionBtn {
  margin: 0 5px;
  max-height: 38px;
}

.tiempos-vuelo-item {
  flex-basis: 100%;
}

@media (width > 475px) {
  .tiempos-vuelo-item:first-child {
    flex-basis: 60%;
  }

  .tiempos-vuelo-item:nth-child(2) {
    flex-basis: 15%;
  }

  .tiempos-vuelo-item:last-child {
    flex-basis: 15%;
  }
}

/* section discriminacion-tiempos */

.discriminacion-tiempos {
  display: flex;
  flex-wrap: wrap;
}

& h2 {
  margin: 20px;
}

& .input-group {
  margin: 0px 5px;
  flex-basis: 32%;
  width: auto;
}

@media (width < 900px) {
  & .input-group {
    flex-basis: 48%;
  }
}

@media (width < 620px) {
  & .input-group {
    flex-basis: 100%;
  }
}
