#root {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.form {
  height: auto;
  min-height: 50vh;
  max-width: 90%;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

/* Footer */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: red;
}
.footer nav {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}
.contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}
.footer address {
  flex-basis: 100%;
  padding: 10px;
  margin: 0;
}

/* Log Page */

.log-page {
  min-height: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(0, 82, 140, 1) 0%,
    rgba(0, 251, 255, 1) 100%
  );
}

.log-title {
  flex-basis: 60%;
  text-align: left;
}

& h1 {
  color: #fff;
  padding: 5px;
  margin: 0.5rem;
}

& h3 {
  color: #bfbfbf;
  padding: 5px;
  margin: 0.5rem;
}

.log-form {
  flex-basis: 40%;
  min-height: inherit;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Login Form && Create Account Form */

.form-p {
  width: 100%;
  background-color: white;
}

.pilotos-form {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

& a {
  text-decoration: none;
  color: #000;
}

@media (width < 515px) {
  .log-page {
    align-items: stretch;
  }
  .log-title {
    flex-basis: 100%;
    align-self: center;
  }

  .log-form {
    min-height: auto;
    flex-basis: 95%;
    margin: 0 auto;
    border-radius: 3px;
  }
}

/* Inicio page */

.inicio-page {
  min-height: inherit;
}

/* totales section */

.totales {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.totales-list {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 10px;
}

.total-item {
  min-height: 75px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 5px #1f1f1f66;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.total-item:last-child {
  grid-column: span 2;
}

/* links section */

.links {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ventana {
  flex-basis: 48%;
  height: 100px;
  padding: 8px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  box-shadow: 5px 5px #000;
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

@media (width > 615px) {
  .totales-list {
    grid-template-columns: repeat(4, 23.5%);
  }
  .ventana {
    flex-basis: 24%;
  }
}

/* Avion Form */

.avion-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

/* Horas Form */

.horas {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

& section {
  padding: 10px;
}

& h2 {
  margin: 0 auto;
}

/* section itinerario */

.itinerario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itinerario-item {
  flex-basis: 18%;
}

@media (width < 768px) {
  .itinerario-item:first-child {
    flex-basis: 100%;
  }

  .itinerario-item {
    flex-basis: 48%;
  }
}

/* utils section */

.utils {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

& .utils-form-group {
  flex-basis: 48%;
}

@media (width < 768px) {
  .utils-form-group {
    flex-basis: 100%;
  }
}

/* section  tiempos-de-vuelo */

.tiempos-de-vuelo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.avionBtn {
  margin: 0 5px;
  max-height: 38px;
}

.tiempos-vuelo-item {
  flex-basis: 100%;
}

@media (width > 475px) {
  .tiempos-vuelo-item:first-child {
    flex-basis: 60%;
  }

  .tiempos-vuelo-item:nth-child(2) {
    flex-basis: 15%;
  }

  .tiempos-vuelo-item:last-child {
    flex-basis: 15%;
  }
}

/* section discriminacion-tiempos */

.discriminacion-tiempos {
  display: flex;
  flex-wrap: wrap;
}

& h2 {
  margin: 20px;
}

& .input-group {
  margin: 0px 5px;
  flex-basis: 32%;
  width: auto;
}

@media (width < 900px) {
  & .input-group {
    flex-basis: 48%;
  }
}

@media (width < 620px) {
  & .input-group {
    flex-basis: 100%;
  }
}

/* probando */

.last-card {
  flex-basis: 33%;
}
