#root {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.inicio-page {
  min-height: inherit;
}

.totales {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.totales-list {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.total-item {
  min-height: 75px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  flex-basis: 23%;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.total-item:last-child {
  grid-column: span 2;
}
