.intro {
  min-height: inherit;
  width: 100vw;
  background-color: #01d8d1;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: show;
  animation-timing-function: ease-out;
  animation-duration: 3s;
}

.intro-title {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.title {
  margin: 10px;
}

@keyframes show {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
