.pilotos {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  height: auto;
  min-height: 50vh;
  max-width: 90%;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

h2 {
  width: 100%;
  margin: 20px 0;
}

.navbar {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.nav-content {
  margin: 10px 0;
}

.nav-link {
  margin: 0px 16px;
  padding: 5px;
}
